<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="myvar" value="myvalue"/>

  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <target name="app-eventlog"
            xsi:type="EventLog"
            log="Blue Prism"
            source="${gdc:item=AppEventLogSource}"
            layout="${logger}${newline}${message}${onexception:${newline}${exception:format=ToString}}" />
    <target name="app-logfile"
            xsi:type="File"
            fileName="${specialfolder:folder=CommonApplicationData}\Blue Prism Limited\Blue Prism\Logs\${gdc:item=AppName}.txt"
            layout="${longdate:universalTime=true} ${pad:padding=5:inner=${level:uppercase=true}} ${logger} ${message}${onexception:${newline}${exception:format=ToString}}"
            archiveEvery="Day"
            archiveFileName="${specialfolder:folder=CommonApplicationData}\Blue Prism Limited\Blue Prism\Logs\Archive\${gdc:item=AppName}.{##}.txt"
            maxArchiveFiles="5"
            archiveAboveSize="10485760"
            archiveNumbering="DateAndSequence"
            archiveDateFormat="yyyyMMdd" />
  </targets>
  <rules>
    <!-- add your logging rules here -->
    <logger name="*" minlevel="Info" writeTo="app-eventlog" />
    <logger name="*" minlevel="Info" writeTo="app-logfile" />
    <!--<logger name="BluePrism.AutomateAppCore.WCFMessageInspector" minlevel="Debug" writeTo="app-logfile" />-->
    <!--
    Write all events with minimal level of Debug (So Debug, Info, Warn, Error and Fatal, but not Trace)  to "f"
    <logger name="*" minlevel="Debug" writeTo="f" />
    -->
  </rules>
</nlog>
