<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" 
      internalLogFile="C:\temp\nlog-internal.log">
    <targets>
        <target name="app-eventlog"
                xsi:type="EventLog"
                log="Blue Prism"
                source="${gdc:item=AppEventLogSource}"
                layout="${logger}${newline}${message}${onexception:${newline}${exception:format=ToString}}" />
        <target name="app-logfile"
                xsi:type="File"
                fileName="${specialfolder:folder=CommonApplicationData}\Blue Prism Limited\Blue Prism\Logs\${gdc:item=AppName}.txt"
                layout="${longdate:universalTime=true} ${pad:padding=5:inner=${level:uppercase=true}} ${logger} ${message}${onexception:${newline}${exception:format=ToString}}"
                archiveEvery="Day"
                archiveFileName="${specialfolder:folder=CommonApplicationData}\Blue Prism Limited\Blue Prism\Logs\archive\${gdc:item=AppName}.{##}.txt"
                maxArchiveFiles="5"
                archiveAboveSize="10485760"
                archiveNumbering="DateAndSequence"
                archiveDateFormat="yyyyMMdd" />
        <target name="analytics-eventlog"
                xsi:type="EventLog"
                log="BP Analytics"
                source="${gdc:item=AnalyticsSource}"
                layout="${message}" />
      
      <target name="app-performance-report" 
              xsi:type="File"
              fileName="${specialfolder:folder=CommonApplicationData}\Blue Prism Limited\Blue Prism\Logs\ServerPerformance-${cached:cached=true:inner=${date:format=dd-MM-yyyy HH-mm-ss}}.csv"
              layout="${message}"
              maxArchiveFiles="5"
              archiveAboveSize="10485760"
              archiveOldFileOnStartup="true"
              archiveNumbering="DateAndSequence"
              archiveDateFormat="yyyyMMdd"
              >
      </target>
      
    </targets>
    <rules>
        <logger name="BluePrism.Core.Analytics.CommunicationInspectors" minlevel="Info" writeTo="app-performance-report" final="true" />
        <logger name="BluePrism.BPServer.Logging.AnalyticsLogger" minlevel="Info" writeTo="analytics-eventlog" />
        <logger name="*" minlevel="Info" writeTo="app-eventlog" />
        <logger name="*" minlevel="Fatal" writeTo="app-logfile" />
		<!--<logger name="BluePrism.BPServer.ServerBehaviours.WCFServerMessageInspector" minlevel="Debug" writeTo="app-logfile" />-->
    </rules>
</nlog>
